tensorboard
opencv-python
glob2
six
pyyaml
easydict
nuscenes-devkit
plotly
pandas
kaleido==0.2.1

# if issues with saving graphs (on windows), one can use this version of kaleido instead:
# kaleido==0.1.0post1 
